@use '../shared' as *;

body, html {
    padding                : 0;
    margin                 : 0;
    background-color       : var(--bg-3);
    color                  : var(--fg-3);
    width                  : 100vw;
    height                 : 100vh;
    overflow               : hidden;
    font-family            : 'Inter', 'Segoe UI', apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-optical-sizing    : auto;
    font-style             : normal;
    -webkit-font-smoothing : antialiased;
}

luma-app {
    display        : flex;
    flex-direction : column;
    width          : 100%;
    height         : 100vh;
    min-height     : 0;

    .container {
        width     : 1300px;
        margin    : 0 auto;
        flex-grow : 1;
        display   : block;

        @media (max-width : 1300px) {
            width   : 100%;
            padding : 0 20px;
        }
    }

    & > nav#main-nav {
        height           : 80px;
        background-color : var(--bg-3);
        box-shadow       : 0 8px 24px rgba(0, 0, 0, .2);

        @media (max-width : 600px) {
            height : 48px;
        }

        & > .container {
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            align-items     : center;
            height          : 100%;

            & > section {
                display         : flex;
                flex-direction  : row;
                justify-content : flex-start;
                align-items     : center;
                height          : 100%;
                gap             : 16px;

                &:last-child {
                    justify-content : flex-end;
                    gap             : 24px;

                    @media (max-width : 600px) {
                        gap : 8px;
                    }

                    @media (max-width : 600px) {
                        gap : 8px;
                    }
                }

                & > div.logo-icon {
                    width           : 64px;
                    height          : 64px;
                    background      : url('/assets/logo-white.png') center no-repeat;
                    background-size : contain;

                    @media (max-width : 900px) {
                        width  : 48px;
                        height : 48px;
                    }

                    @media (max-width : 600px) {
                        width  : 32px;
                        height : 32px;
                    }
                }

                & > div.logo-name {
                    font-size   : 32px;
                    font-weight : 700;

                    @media (max-width : 600px) {
                        display : none;
                    }
                }

                & > .divider {
                    width            : 1px;
                    height           : 40%;
                    background-color : var(--border-1);
                    margin           : 0 16px;

                    @media (max-width : 900px) { margin : 0; }
                    @media (max-width : 600px) { display : none; }
                }

                & > a.link {
                    color           : var(--fg-0);
                    text-decoration : none;
                    font-size       : 18px;
                    font-weight     : 700;
                    transition      : 120ms ease-in-out;

                    @media (max-width : 900px) {
                        font-size : 16px;
                    }

                    @media (max-width : 600px) {
                        font-size : 14px;
                    }

                    &:hover {
                        color : var(--fg-3);
                    }

                    &.active {
                        color : var(--fg-3);
                    }
                }

                & > a > i {
                    font-size : 32px;
                }
            }
        }
    }

    main#main-body {
        @include flex(column, stretch, stretch);
        flex       : 1;
        min-height : 0;

        & > * {
            display        : flex;
            flex-direction : column;
            flex           : 1;
            min-height     : 0; /* Crucial to prevent flex item from refusing to shrink */
            width          : 100%;
        }
    }
}
