@use "../shared" as *;

:host {
    @include flex(column, center, center);
    overflow: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.2s ease-in-out;
}

dialog {
    @include flex(column, flex-start, stretch);
    position: relative;
    background: var(--bg-3);
    min-width: 400px;
    border-radius: 8px;
    border: 1px solid var(--border-2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0 auto;

    @media (max-width: 400px) {
        min-width: 100%;
        height: 100%;
        border-radius: 0;
    }

    & > header {
        @include flex(row, center, space-between);
        padding: 8px 16px;
        border-bottom: 1px solid var(--border-1);
        font-size: 1.2em;
        font-weight: 500;
        color: var(--fg-2);
        text-shadow: 1px 1px 1px var(--bg-0);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(to right, transparent 45%, #fff 75%, transparent 100%);
        }
    }

    & > main {
        @include flex(column, flex-start, stretch);
        gap: 16px;
        flex: 1;
        min-height: 0;
        padding: 16px;
        overflow-y: auto;
        color: var(--fg-2);
        background: var(--bg-2);
    }

    & > footer {
        @include flex(row, flex-end, flex-end);
        gap: 16px;
        padding: 16px;
        border-top: 1px solid var(--border-1);

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(to right, transparent 15%, #fff 35%, transparent 65%);
        }
    }
}
