@use "../shared" as *;

page-playground {
    @include flex(column, flex-start, stretch);
    flex: 1;
    min-height: 0;
    height: 100%;

    main#playground-body {
        @include flex(row, stretch, stretch);
        flex: 1;
        min-height: 0;
        height: 100%;

        & > main {
            flex: 1;
            min-height: 0;
            min-width: 0;

            & > nav {
                @include flex(row, flex-start, center);
                width: 100%;
                height: 32px;
            }
        }

        & > main#editor {
            position: relative;
            display: block;
            min-width: 0;
            flex: 1;
            height: 100%;

            & > nav.menubar {
                @include flex(row, space-between, center);
                background: var(--bg-2);
                padding: 0 10px;

                hr {
                    width: 1px;
                    height: 24px;
                    background-color: var(--bg-3);
                    border: none;
                }

                & > section {
                    @include flex(row, flex-start, center);
                    gap: 8px;
                }
            }

            & > div#monaco-wrapper {
                position: absolute;
                inset: 0;
                top: 32px;
                border-right: 1px solid var(--border-0);

                & > .monaco-editor {
                    --vscode-editor-background: var(--bg-1) !important;
                    --vscode-editorGutter-background: var(--bg-1) !important;
                }
            }
        }

        & > main#sidebar {
            @include flex(column, flex-start, stretch);
            border-left: 1px solid var(--bg-2);
            background-color: var(--bg-3);

            & > nav.menubar {
                @include flex(row, stretch, stretch);
                width: 100%;
                height: 32px;

                & > button {
                    @include flex(row, flex-start, center);
                    gap: 8px;
                    width: 100%;
                    border: 0;
                    padding: 0 16px;
                    background: var(--bg-1);
                    color: var(--fg-1);
                    border-right: 1px solid var(--border-0);
                    cursor: pointer;
                    transition: 0.15s ease-in-out;

                    &:last-child {
                        border-right: none;
                    }

                    & > i {
                        @include flex(row, center, center);
                        width: 20px;
                        height: 20px;
                        font-size: 16px;
                    }

                    &:hover, &.active {
                        color: var(--fg-3);
                    }

                    &.active {
                        background: var(--bg-2);
                        font-weight: bold;
                        text-shadow: 0 0 2px var(--bg-0), 0 0 16px rgba(255, 255, 255, .5);
                    }
                }
            }
        }

        @media (max-width: 800px) {
            flex-direction: column;

            & > main#sidebar {
                border-left: none;
                border-top: 1px solid var(--bg-2);
            }
        }
    }
}
